/* --Entete qui contient les contacts--*/
*{
	padding: 0;
	margin: 0;

}

body{
	background-color: #ffffff;
}

.infor ul {
	list-style-type: none;
	margin: -8px -8px 0px ;
	background-color:gray;
	line-height: 150%; 
	padding: 20px;

}

.infor li { 
	float: left;
	font-size: 22px;
}

.infor ul li .action a {
	margin-right: 5px;
}


.infor ul li img {
	width: 20px;
	height: 20px;
	margin-right: 0px;
}
.infor ul li a{
	text-decoration: none;
	color:#556b2f;
	margin-left: 5px;
}


.infor li a:hover:not(.active) {
    color: #000000;
}




/* --menu de la page de navigateur--*/
ul {
    margin: -8px -8px 0px;
	list-style-type: none;
	overflow: hidden;
	background-color: #000000;
    line-height: 550%; 
	padding: 0px;
}

.nav li { 
	float: left;
	font-size: 25px;
}

.nav ul li .active a{
	color:blue;
}

ul li img {
	width: 100px;
	height: 80px;
}
.nav ul li a{
	margin: 5px;
	padding: 20px;
	text-decoration: none;
	color:#ffffff;

}

.nav li a:hover:not(.active) {
    color: #ff6347;
}







/*--Page contenue--*/


.album ul li{
	position: relative;
	float:left;
	width: 100px;
	height: 100px;
	padding: 1px;
	list-style: none;
}




.album ul li a{ 
	display:block;
	overflow:hidden;
    width:100px;
    height:100px; 
    margin-top:0px;
    margin-left:0px; 
    border:0px solid rgba(0,0,0,0.7);
    transition-property:width,height,margin,z-index,border; 
    transition-duration:0.4s; 
} 

.album ul li a:hover{ 
	position:absolute; 
	width:200px;
	height:200px; 
	margin-top:-56px;
	margin-left:-56px;
    z-index:100; 
    border:6px solid rgba(0,0,0,0.7); 
} 

.album ul li a img{ 
	position:absolute; 
	width:100px;
	height:100px;
	z-index:20; 
	transition-property:width,height,z-index; 
	transition-duration:0.4s; 
	} 

.album ul li a:hover img{ 
	width:200px;
	height:200px; 
	z-index:100; 
}


/*--Texte--*/

strong{
	color:red;
}

.ser ol{
padding:24px;
line-height: 200%; 

} 

.ser p{
	text-align: justify;
	padding: 15px;

}



/*--Pied du page--*/

.pied1 p{
	color:#ffffff;
	background: gray;
	padding: 15px;
	text-align: center;

	
}
.pied1{
	padding-top: 40px;
}